body{
    background: violet;
}

.game_board {
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 5 0 1 black;
    background-color: #3a4659;
    padding: 15px;
    margin-top: 10px;
    max-width: 500px;
} 

.board_cell {
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 125px;
    vertical-align: middle;
    font-size: 50px;
    padding-top: 25px;
    cursor: pointer;
    text-align: center;
}

.sidecard{
    background-color: white;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#past_match{
    height: 60vh;
    overflow-x: scroll;
}